/* 
 */


 /* font-family: 'Permanent Marker', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Share Tech Mono', monospace; */



/* ==========  Reset  ( Start ) ==========   */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
/* ==========  Reset  ( End ) ==========   */


/* ==========  ( start ) ==========   */
/* ==========  ( End ) ==========   */


/* ==========  ( start ) ==========   */
/* ==========  ( End ) ==========   */



/* ========== Site Structure ( start ) ==========   */

section{
    border:1px solid black;
    min-height:100vh;
    width:100vw;
}


#work{
    height:300vh; 
}


footer{
    border:1px solid rgb(16, 44, 138);
    height:20vh;
    width:100vw;
}

/* ========== Site Structure ( End ) ==========   */


/* ========== Section home ( Start ) ==========   */
#home{
    background-color: rgba(172, 9, 9, 0.856);
}
.box-home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;

}

.box-home .row{
    margin-bottom: 2%;
}

.box-home h1{
    font-size: 2.8em;
    color:#fff;
    font-family: 'Kaushan Script', cursive;
    transform: rotate(-5deg); 
}

.box-home h3{
    font-size: 1.5em;
    color:#fff;
    font-family: 'Jura', sans-serif;
}

.box-avatar{
    
}
.avatar{
    width:200px;
    height:200px;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;    
    background-image: url('../img/paulo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.name{
    
}

.name h1{
   
}

.title{
    
}

.social{
    
    width:300px;
}
.social ul{
    display:flex;
    justify-content: space-evenly;    
}

.social ul li a{
    color:#fff;
} 
.social ul li a:hover{
    color:rgb(233, 233, 233);
} 
/* ========== Section home ( End ) ==========   */


/* ========== Section about ( Start ) ==========   */
#about{
   
}
.box-about{
    padding-top:10vh;
    padding-bottom:10vh;
    min-height:100vh;
    display:flex;
    align-items: flex-start;
    
}
.box-title{
    width:400px;
}

.about-title{
    font-weight: bold;
}

.box-about p{
    font-size: 1.2em;
    display:block;
}
.bio{
    padding-left:80px;
}


.botao-top{
    width:50px;
    height:50px;
    background-color: blue;
    position:fixed;
    top:85vh;
    left:65vw;
}








/* ========== Section about ( End ) ==========   */


/* Media query */
@media screen and (max-width: 460px) {
   
    .box-home h1{
        font-size: 1.8em;
        color:#fff;
        font-family: 'Kaushan Script', cursive;
    }
    
    .box-home h3{
        font-size: 1em;
        color:#fff;
        font-family: 'Jura', sans-serif;
    }

    .box-home .row{
        margin-bottom: 4%;
    }
    
    
  }



  @media screen and (max-width: 767px) {
   

  }

  @media screen and (max-width:991px) {
    .box-about{
        max-width:;
    }
    .bio{
        padding-left:15px;
    }
   
        
  


  }
