/* 
 */


 /* font-family: 'Permanent Marker', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Share Tech Mono', monospace; */



/* ==========  Reset  ( Start ) ==========   */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
/* ==========  Reset  ( End ) ==========   */


/* ==========  ( start ) ==========   */
/* ==========  ( End ) ==========   */


/* ==========  ( start ) ==========   */
/* ==========  ( End ) ==========   */



/* ========== Site Structure ( start ) ==========   */

section{
    border:1px solid black;                      /* REMOVER MARCAÇÂO DEPOIS DE FINALIZAR*/
    min-height:100vh;
    width:100vw;
}



footer{
    border:1px solid rgb(16, 44, 138);
    height:20vh;
    width:100vw;
}

/* ========== Site Structure ( End ) ==========   */


/* ========== Section home ( Start ) ==========   */
#home{
    background-color: rgba(172, 9, 9, 0.856);
    border:none;
}
.box-home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;

}

.box-home .row{
    margin-bottom: 2%;
}

.box-home h1{
    font-size: 2.8em;
    color:#fff;
    font-family: 'Kaushan Script', cursive;
    transform: rotate(-5deg); 
}

.box-home h3{
    font-size: 1.5em;
    color:#fff;
    font-family: 'Jura', sans-serif;
}

.box-avatar{
    
}
.avatar{
    width:200px;
    height:200px;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;    
    background-image: url('../img/paulo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.name{
    
}

.name h1{
   
}

.title{
    
}

.social{
    
    width:300px;
}
.social ul{
    display:flex;
    justify-content: space-evenly;    
}

.social ul li a{
    color:#fff;
} 
.social ul li a:hover{
    color:rgb(233, 233, 233);
} 
/* ========== Section home ( End ) ==========   */


/* ========== Section about ( Start ) ==========   */
#about{
    border:none;
    display:flex;
    justify-content: center;
}
.box-about{
    padding-top:10vh;
    padding-bottom:10vh;
    min-height:100vh;
    width: 90%;
    display:flex;
    align-items: flex-start;
    
    
}
.box-title{
    width:400px;
}

.box-about p{
    font-size: 1.2em;
    display:block;
}
.box-about h2{
    font-size: 2.2em;
    display:block;
}

.about-info .row{
    margin-bottom:40px;
}

.about-title{
    font-weight: bold;
}

.bio{
    padding-left:10px;
}

.img-carroussel{
    height:100vh;
}










/* ========== Section work ( Start ) ==========   */





/* ========== Section about ( End ) ==========   */
#work{
    border:none;
    display:flex;
    justify-content: center;
}
#work .row{
   display: block;
}
.box-work{
    width:100%;

}
.work-title , .academy-title { 
    display:flex;
    justify-content:center;
    align-items: center;  
   
    color:rgba(172, 9, 9, 0.712);
   
   
   
   

}

.work-title h2, .academy-title h2 { 
    background-color: rgb(255, 255, 255);
    padding:1% 2%;
    border:1px solid rgba(172, 9, 9, 0.712);
    border-radius:5px;
}


.time-line::before{
    content: ' ';
    
    height:97%;
    width:2px;
    background-color: rgba(172, 9, 9, 0.589);
    position:absolute;
    left:50%;
    margin-bottom:10px;
   
    
}


.work-item-left::after, .work-item-right::after{
    content: ' ';
    height:70px;
    width:70px;
    border-radius:50%;   
    position:absolute;
    left:50%;
    margin-left:-32px;
    margin-top:2%;
    background-image: url('../img/work.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.academy-item-right::after, .academy-item-left::after{
    content: ' ';
    height:70px;
    width:70px;
    border-radius:50%;  
    position:absolute;
    left:50%;
    margin-left:-32px;
    margin-top:2%;
    background-image: url('../img/academy.png');
    background-size: cover;
    background-repeat: no-repeat;    
}

.work-item-left, .academy-item-left{
    min-height:30vh;
    display:flex;
    justify-content: flex-start;
}

.work-item-right, .academy-item-right{
    min-height:30vh;
    display:flex;
    justify-content: flex-end;
    
} 

.work-content, .academy-content{
    width:45%;
    min-height:30vh;
   /*  border:1px solid black; */
    padding:1%;
 }




.work-box-left, .academy-box-left{
    text-align: right; 
    padding:4%;
    border-bottom:1px solid rgba(172, 9, 9, 0.856);  
}

.work-box-right, .academy-box-right{
    text-align: left;
    padding:4%;
    border-bottom:1px solid rgba(172, 9, 9, 0.856);
}


.icon-pessoa{
    color:#fff;
    border:1px solid rgba(172, 9, 9, 0.856);
    border-radius:50%;
    background-color:rgba(172, 9, 9, 0.856); 
    width:60px;
    height:60px; 
    padding:14px;
   
}







/* ========== Section about ( End ) ==========   */













/* Media query */
    @media screen and (max-width:991px) {

        .work-title h2, .academy-title h2{   
            width: 100%;
            text-align: center;
        }

        .time-line::before{          
            left:50px;
            
        }
        .work-item-left, .academy-item-left{
           justify-content: flex-start;
        }
        
        .work-item-right, .academy-item-right{
           justify-content: flex-start;            
        } 
        .work-box-left, .academy-box-left{
            text-align: center;  
            margin-left:110px;

        }
        .work-box-right, .academy-box-right{
            text-align: center;
            margin-left:110px;

        }
        .work-content, .academy-content{
            width:100%;
            min-height:20vh;
            margin-bottom:5%;
            
         }


        .work-item-left::after, .work-item-right::after{
            left:0%;
            margin-left:17px;
        }
        
        .academy-item-right::after, .academy-item-left::after{
            left:0%;
            margin-left:17px;
        }      

    }

  @media screen and (max-width:960px) {
   
    .bio{
        padding-left:15px;
    }

    .about-info .row{
        margin-bottom:10px;
    }

    

   
}


  @media screen and (max-width:700px) {
   


}

  @media screen and (max-width: 540px){

    .time-line::before{          
        left:32px;
        
    }
    .work-item-left::after, .work-item-right::after{
        left:0%;
        margin-left:0px;
    }
    
    .academy-item-right::after, .academy-item-left::after{
        left:0%;
        margin-left:0px;
    }      
    .work-box-left, .academy-box-left{
        text-align: center;  
        margin-left:70px;

    }
    .work-box-right, .academy-box-right{
        text-align: center;
        margin-left:70px;

    }



}


@media screen and (max-width: 460px) {
   
    .box-home h1{
        font-size: 1.8em;
        color:#fff;
        font-family: 'Kaushan Script', cursive;
    }
    
    .box-home h3{
        font-size: 1em;
        color:#fff;
        font-family: 'Jura', sans-serif;
    }

    .box-home .row{
        margin-bottom: 4%;
    }

    
    
    
  }
