@font-face{
    font-family:Kaushan;
    src:url(../fonts/KaushanScript-Regular.ttf);
}

@font-face{
    font-family:Jura;
    src:url(../fonts/Jura-Bold.ttf);
}
/* ==========  Reset  ( Start ) ==========   */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family:Jura;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

section{
                       /* REMOVER MARCAÇÂO DEPOIS DE FINALIZAR*/
    min-height:100vh;
    width:100vw;
}

footer{
    border:1px solid rgb(16, 44, 138);
    height:20vh;
    width:100vw;
}

/* ========== Section home ( Start ) ==========   */
#home{
    background-image: url("../img/work.jpg");
    background-size: cover;  
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    border:none;
}

.home-filter{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.609); 
}

.box-home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    

}

.box-home .row{
    margin-bottom: 2%;
}

.box-home h1{
    font-size: 2.8em;
    color:#fff;
    font-family: Kaushan, cursive;
    transform: rotate(-5deg); 
}

.box-home h3{
    font-size: 1.5em;
    color:#fff;
    font-family:Jura, sans-serif;
}


.avatar{
    width:200px;
    height:200px;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;    
    background-image: url('../img/paulo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.social{    
    width:300px;
}

.social ul{
    display:flex;
    justify-content: space-evenly;    
}

.social ul li a{
    color:rgb(226, 226, 226);
}

.social ul li a:hover{
    color:rgb(255, 255, 255);
} 

#btn-more a{
    font-size: 1.3rem;
    padding:10px 40px;
    border:solid 2px #fff;
    border-radius:0;
    background-color: rgba(0, 0, 0, 0.376);
}

#btn-more a:hover{
    background-color: rgba(255, 255, 255, 0.52);
}

/* ========== Section home ( End ) ==========   */


/* ========== Section about ( Start ) ==========   */
#about{
    color:rgba(78, 67, 67, 0.657);
    border:none;
    display:flex;
    justify-content: center;
<<<<<<< HEAD
    background-image: url("../img/bbb.jpg");
    background-size: 100% 100%;
    padding:130px 20px 70px 20px;
    
   
}
.box-about{
   
    min-height:80vh;
    width: 100vw;
=======

}
.box-about {
    padding-top:10vh;
    padding-bottom:10vh;
    min-height:100vh;
    width: 90%;
>>>>>>> bcf35736ffb4bb55922a48b1d7b9aeb77e5ca160
    display:flex;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 4px;
   
}

.about-content{
    width: 100%;
    min-height:80vh;
    padding:20px 0px;
    margin:0;
}

.box-title{
    width:400px;
}

.box-about p{
    font-size: 1.1em;
    display:block;
}

.box-about h2, .box-portifolio h2{
    color:rgba(78, 67, 67, 0.657);
    font-weight: bold;
    font-size: 2.8em;
    display:block;
}


.about-info .row{
    margin-bottom:40px;
}

.about-title{
    font-weight: bold;
}

.bio{
<<<<<<< HEAD
    padding:10px;
=======
    padding-left:10px;
   
>>>>>>> bcf35736ffb4bb55922a48b1d7b9aeb77e5ca160
}

.img-carroussel{
    height:100vh;
}

.box-portifolio{
    padding-top:10vh;
    min-height:100vh;
   
}

/* ========== Section work ( Start ) ==========   */

#developer{
    background-color: blue;
    height:50vh;
    width:100vw;
}

#support{
    background-color: rgb(59, 59, 139);
    height:50vh;
    width:100vw;
}

#developer-cover{
    background-color: rgb(101, 101, 139);
    width:100%;
   
}

#developer-content{
    background-color: rgb(59, 59, 139);
   
}

<<<<<<< HEAD
#support-cover{
    background-color: rgb(95, 95, 253);
  
   
}

#support-content{
    background-color: rgb(8, 8, 29);
   
}

/* ========== Section work ( End ) ==========   */



/* ========== Section Contato ( Start ) ==========   */
.contato{
    height:60vh;

=======
.work-item-left, .academy-item-left{
    min-height:30vh;
    display:flex;
    justify-content: flex-start;
}

.work-item-right, .academy-item-right{
    min-height:30vh;
    display:flex;
    justify-content: flex-end;

} 

.work-content, .academy-content{
    color:rgba(65, 61, 61, 0.657);
    width:45%;
    min-height:30vh;
   /*  border:1px solid black; */
    padding:1%;
}

.work-box-left, .academy-box-left{
    text-align: right; 
    padding:2% 4%;
    border-bottom:1px solid rgba(172, 9, 9, 0.856);  
}

.work-box-right, .academy-box-right{
    text-align: left;
    padding:2% 4%;
    border-bottom:1px solid rgba(172, 9, 9, 0.856);
}

.icon-pessoa{
    padding:10px;
    color:#fff;
  
}

.info-pessoa{
    color:rgba(78, 67, 67, 0.657);
    margin:0;
    padding:0;
    height: 100%;
    word-break: break-all;
   

}

.table th{
    border:1px solid rgba(172, 9, 9, 0.856); 
    border-radius:50%;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(172, 9, 9, 0.856); 
>>>>>>> bcf35736ffb4bb55922a48b1d7b9aeb77e5ca160
}
.table td{
    margin-bottom: 15px;
    vertical-align: middle;
 
}




/* ========== Section Work ( End ) ==========   */


/* ========== Section Portifólio ( Start ) ==========   */

.card-portifolio{
    height: 250px;
    margin:1% 0;
    border:1px solid rgba(56, 52, 52, 0.164);
    border-radius:3px;
    cursor:pointer;
    transition: 300ms;
    /* border:1px solid red; */
    display:flex;
}

.card-portifolio:hover{
    box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);
    transition: 300ms;
}

.card-img{
    width:40%;    
    height: 100%;
    transition: 300ms;
    border-radius:0;

}

.card-img img{
    width:100%;
    height: 100%;
    transition: 300ms;
    filter:opacity(85%);
}

.card-img img:hover{
   background-color: rgba(0, 0, 0, 0.198);
   filter:opacity(100%);
   transition: 300ms;
}

.card-content{
    width:60%;
    background-color:  rgba(233, 233, 233, 0.164);
    height: 100%;
    border-radius:0;
}



<<<<<<< HEAD
/* ========== Section Contato ( End ) ==========   */



=======
/* ========== Section Portifólio ( end ) ==========   */





>>>>>>> bcf35736ffb4bb55922a48b1d7b9aeb77e5ca160
/* Media query */

/*
    @media screen and (max-width:991px) {

        .work-title h2, .academy-title h2{   
            width: 100%;
            text-align: center;
        }

        .time-line::before{          
             display:none;
            
        }
        .work-item-left, .academy-item-left{
           justify-content: flex-start;
        }
        
        .work-item-right, .academy-item-right{
           justify-content: flex-start;            
        } 
        .work-box-left, .academy-box-left{
            text-align: center;  
            margin-left:110px;

        }
        .work-box-right, .academy-box-right{
            text-align: center;
            margin-left:110px;

        }
        .work-content, .academy-content{
            width:100%;
            min-height:20vh;
            margin-bottom:5%;
            
         }


        .work-item-left::after, .work-item-right::after{
            display:none;
        }
        
        .academy-item-right::after, .academy-item-left::after{
            display:none;
        }      

    }

  @media screen and (max-width:960px) {
   
    .bio{
        padding-left:15px;
    }

    .about-info .row{
        margin-bottom:10px;
    }

    

   
}


  @media screen and (max-width:767px) {
    #home{
        background-image: none;
        background-color: #b82d2d;
    }

    .home-filter{
      
        background-color:rgba(255, 255, 255, 0); 
    }

    .card-portifolio{
        height: 500px;
        flex-direction: column;
        align-items: center;

    }
    
    .card-img{
        width:70%;
        height: 100%;
    
    }
    
    .card-content{
        width:70%;
        height: 100%;
    }

}

  @media screen and (max-width: 540px){

    .time-line::before{          
        display:none;
        
    }
    .work-item-left::after, .work-item-right::after{
       display:none;
    }
    
    .academy-item-right::after, .academy-item-left::after{
       display:none;
    }      
    .work-box-left, .academy-box-left{
       display:none;

    }
    .work-box-right, .academy-box-right{
       display:none;

    }



}


@media screen and (max-width: 460px) {
   
    .box-home h1{
        font-size: 1.8em;
        color:#fff;
        font-family: 'Kaushan', cursive;
    }
    
    .box-home h3{
        font-size: 1em;
        color:#fff;
        font-family: 'Jura', sans-serif;
    }

    .box-home .row{
        margin-bottom: 4%;
    }

    .title{
        font-size: 18px;
    }

    
    
    
  }
*/
